body {
    background-color: grey;
    text-align: center;
}
#rules {
    background-color: beige;
    text-align: center;
    padding: 2em 0em;
    margin-bottom: 10px;
}
.trgtnumber {
    float: left; 
    margin-left: 200px;
    background-color: darkolivegreen;
    padding: 10px;
}
.wOrL{
    float: right;
    margin-right: 200px;
    background-color: blanchedalmond;
    padding: 5px;
    margin-bottom: 10px;
}
.buttons {
    clear: both;
    background-color: dimgray;
    padding: 5px;
    width: 30em;
    margin-left: 25%;
    
}

.score{
    background-color: brown;
    padding: 5px;
    width: 10em;
    margin-left: 32%;
}
.crystal {
    width: 100px;
}